:root {
    // Colors
    --color-primary: #009ddb;
    --color-primary-light: #99e2ff;
    --color-primary-dark: #001a24;

    --color-secondary: #0031db;
    --color-secondary-light: #6386FF;
    --color-secondary-dark: #000A2E;

    --color-accent: #00DBAA;
    --color-accent-light: #63FFDC;
    --color-accent-dark: #003328;

    --color-light-1: #ebf9ff;
    --color-light-2: #c7d5db;
    --color-light-3: #afbbc0;

    --color-dark-1: #3f4446;
    --color-dark-2: #1f2223;
    --color-dark-3: #0a0a0b;


    // Fonts
    --font-body: 'Work Sans', sans-serif;
    --font-heading: 'Baumans', cursive;

    // Shadows

    // Border Radius
    --br-smallest: 0.5rem;
    --br-small: 1rem;
    --br-med: 2rem;
    --br-large: 3.5rem;
    --br-full: 50%;

}